linkify-it-py==2.0.3
loguru==0.7.2
markdown-it-py==3.0.0
mdit-py-plugins==0.4.1
mdurl==0.1.2
plotext==5.2.8
Pygments==2.18.0
rich==13.8.0
textual==0.71.0
textual-plotext==0.2.1
typing_extensions==4.12.2
uc-micro-py==1.0.3
pylint